:root {
    --colorPrimario: #ddd;
    --colorSecundario: #000;
    --colorBoton3: #cccccc;
    --colorBoton4: #4c4c4c;
    --colorBackground2: #106210;
    --colorBackground: #207720;
    --colorBackgroundGrad: #001400;
    --colorLetras: #ffda14;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
html {
	font-size: 62.5%;
    height: 100%;
}
body {
    background-color: var(--colorBackground);
    color: var(--colorPrimario);
    font-family:  'Baskervville', 'Libre Baskerville', serif;
}

/* HEADER */
header {
    margin-bottom: 3rem;
    text-align: center;
    background-image: linear-gradient(var(--colorBackgroundGrad), var(--colorBackground));
}
h1 {
    padding-top: 2rem;
    font-size: 4rem;
}
/* MAIN */
.label_container {
    margin: 2rem auto;
    max-width: 800px;
    font-size: 1.7rem;
}
.main-label {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin-bottom: 1rem;
}
.total-label {
    margin-top: 1rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    font-size: 2.5rem;
}

/* CUADRICULA */
label {
    padding: 1rem .2rem;
    text-align: center;
    border: 1px var(--colorPrimario) solid;
    background-color: var(--colorBackground2);
}
.top-left {
    border-top: 5px var(--colorPrimario) solid;
    border-left: 5px var(--colorPrimario) solid;
    border-top-left-radius: 10px;
}
.top {
    border-top: 5px var(--colorPrimario) solid;
}
.top-right {
    border-top: 5px var(--colorPrimario) solid;
    border-right: 5px var(--colorPrimario) solid;
    border-top-right-radius: 10px;
}
.left{
    border-left: 5px var(--colorPrimario) solid;
}
.right {
    border-right: 5px var(--colorPrimario) solid;
}
.bottom {
    border-bottom: 5px var(--colorPrimario) solid;
}
.bottom-left {
    border-bottom: 5px var(--colorPrimario) solid;
    border-left: 5px var(--colorPrimario) solid;
    border-bottom-left-radius: 10px;
}
.bottom-right {
    border-bottom: 5px var(--colorPrimario) solid;
    border-right: 5px var(--colorPrimario) solid;
    border-bottom-right-radius: 10px;
}

/* INPUT */
.input-num{
    width: 100%;
    max-width: 10rem;
    background-color: var(--colorBackground2);
    color: var(--colorPrimario);
    font-family:  'Baskervville', 'Libre Baskerville', serif;
    font-size: 1.7rem;
    text-align: center;
    border: none;
}

/*  BOTON */
.boton-total {
    height: 4rem;
    width: 8rem;
    padding: .5rem;
    font-family:  'Baskervville', 'Libre Baskerville', serif;
    font-size: 2rem;
    font-weight: bold;
    background-image: linear-gradient(45deg, var(--colorBoton3) 65%, var(--colorBoton4));
    border-radius: 10px;
}

/* FOOTER */
footer {
    padding: 2rem;
    font-size: 3rem;
    text-align: center;
    grid-area: footer;
    background-image: linear-gradient(var(--colorBackground) 25%, var(--colorBackgroundGrad));
    color: var(--colorPrimario);
}